Vkontakte.xcodeproj/xcuserdata/tatanadusina.xcuserdatad/xcdebugger/
Vkontakte.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
Vkontakte.xcodeproj/project.xcworkspace/xcuserdata/
Vkontakte.xcodeproj/xcshareddata/
